/*
* BootHelper CSS Library
* Version : 1.0
* Author: Dilusha Gonagala (@andrewdex)
*
*/

/*dLoader Styles*/
.dLoader{z-index: 2000;position: absolute;top: 0;left: 0;-moz-opacity: 0.9;opacity: .90;filter: alpha(opacity=90);background-color: #FFFFFF;width: 100%;height: 100%;zoom: 1;}
.dLoader-loading{background: url("images/dLoader.GIF");z-index:2000;position: absolute;left: 50%;top: 35%;margin-left: -32px;margin-top: -32px;display: block;width: 50px;height: 50px;}
.dLoader-text{z-index:2000;position: absolute;left: 50%;top: 44%;margin-left: -32px;margin-top: -50px;display: block;font-weight: bold;}
